<div><team-name></team-name></div>

<div><panel-page></panel-page></div>

<div class="panel panel-info">
    <div class="panel-heading"><h3 class="text-center">Los 23 de {{team.name}}</h3></div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th ng-click="order = 'num'; reverse=!reverse"><a href="">Número</a></th>
                    <th ng-click="order = 'name'; reverse=!reverse"><a href="">Nombre</a></th>
                    <th ng-click="order = 'position'; reverse=!reverse"><a href="">Posición</a></th>
                </tr>
            </thead>
            <tbody ng-repeat="player in players | orderBy: order:reverse">
                <tr>
                    <td>{{player.num}}</td>
                    <td><span>{{player.name}}</span></td>
                    <td>{{player.position}}</td>
                    <td><button type="button" class="btn btn-link" ng-click="deletePlayer(player.num)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-primary pull-right" ng-click="linkToCreatePlayer()">Nuevo Jugador</button>
    </div>
</div>

<div><navigation-page></navigation-page></div>

